* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.count {
    margin-left: .5em;
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 300px;
}

.button-wrapper {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.glutton,
.beach {
    width:100%;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    -webkit-appearance: button;
    touch-action: manipulation;
}

.glutton {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.glutton:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.beach {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.beach:hover {
    color: #fff;
    background-color: #398439;
    border-color: #2d672d;
}

.clear {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
