* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    -webkit-appearance: button;
    touch-action: manipulation;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 300px;
    text-align: center;
}

.button-wrapper {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}

.glutton,
.beach {
    width:100%;
}

.glutton {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.glutton:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.beach {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.beach:hover {
    color: #fff;
    background-color: #398439;
    border-color: #2d672d;
}

.beach-factor {
    margin-bottom: 4rem;
    cursor: pointer;
}
.beach-factor {
    font-size: 4rem;
}

.reset {
    color: #ccc;
    background: transparent none;
    border-color: #ccc;

    position: absolute;
    bottom: 10px;
    right: 10px;

    font-size: 9px;
    padding: 6px 6px;
}

.reset:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
