extends layout

block content
    div.wrapper
        div.main
            div.button-wrapper
                button#js-glutton.glutton Om nom nom
                span#js-glutton-count.count 0
            div.button-wrapper
                button#js-beach.beach Beach 2017
                span#js-beach-count.count 0
            p Beach factor:
                span#js-kd
            div#js-error
        button#js-clear.clear x
