extends layout

block content
    div.wrapper
        div.main
            div#js-label Beach points:
            div#js-beach-factor.beach-factor
            div.button-wrapper
                button#js-omnomnom.omnomnom Om nom nom
            div.button-wrapper
                button#js-beach.beach Beach 2017
            div#js-error
        button#js-reset.reset Reset
