extends layout

block content
    div
        button#glutton Omnomnom
        span#glutton-count 0
    div
        button#beach Beach 2017
        span#beach-count 0
    p Beach factor:
        span#kd
    div#error
